*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

body{
  background-color: rgb(235, 235, 235);
}

.container{
  width: 50%;
  margin: 0px auto;
  padding-top: 30px;
}

.box-bianco{
  background-color: rgb(255, 255, 255);
}

.box-bianco img{
  width: 100px;
  vertical-align: middle;
}

h1{
display: inline;  
}

.sfondobianco{
  width: 800px;
  height: 600px;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}

.blocco{
  width: 800px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 3px;
}

.tasto-uno, .tasto-due{
  
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  margin: 10px 3px;
  padding: 20px;
  margin-left: 20px;
}

.tasto-uno{

border:none;
background-color: dodgerblue;
color: white;

}

.tasto-due{
  border:1px solid rgb(235, 235, 235);
  background-color: white;
  color:rgb(235, 235, 235);;
}

ol li{
  margin: 20px 0px;
  
  list-style-type: none;
  font-weight: 400;
}

ol span{
  padding: 5px 15px;
  border-radius: 20px;
  margin-left: 10px;
  color: white;
}

.editorial{
  background-color: rgb(62, 130, 233);
}

.goals{
  background-color: blueviolet;
}

.recruiting{
  background-color: rgb(65, 131, 65);
}

.mobile{
  background-color: orange;
}

.website{
  background-color: rgb(179, 39, 148);
}

.sales{
  background-color: rgb(168, 240, 53);
}

.vero{
  height: 20px;
  width: 20px;
  color: green;
  border: 1px solid green;
  border-radius: 50%;
  background-color: rgba(000, 000, 000, 0,1);
  padding: 5px 10px;
  margin: 10px;
}

.errato{
  height: 20px;
  width: 20px;
  color: red;
  border: 1px solid red;
  border-radius: 50%;
  background-color: rgba(000, 000, 000, 0,1);
  padding: 5px 10px;
  margin: 10px;
}