*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Mulish', sans-serif;
}

body{
  background-color: rgb(235, 235, 235);
}

.container{
  width: 50%;
  margin: 0px auto;
  padding-top: 30px;
}

.box-bianco{
  background-color: rgb(255, 255, 255);
}

.box-bianco img{
  width: 100px;
  vertical-align: middle;
}

h1{
display: inline;  
}

.sfondobianco{
  width: 800px;
  height: 600px;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 20px;
}

.blocco{
  width: 800px;
  height: 60px;
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-bottom: 3px;
}
.tasto-uno, .tasto-due{
  
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
  margin: 10px 3px;
  padding 20px;
  margin-left: 20px;
}

.tasto-uno{

border:none;
background-color: dodgerblue;
color: white;

}

.tasto-due{
  border:1px solid rgb(235, 235, 235);
  background-color: white;
  color:rgb(235, 235, 235);;
}

ol li{
  list-style-type: none;
  font-weight: 400;
}

li{

}

.grassetto{
  font-size: 3.rem;
  font-style: bold;
}